:root {
    --color-1 : #F7DD72; /*Jasmine*/
    --color-2 : #334E58;  /*Charcoal*/
    --color-3 : #00A878; /* Green Munsell*/
    --color-4 : #0AD3FF; /*Vivid Sky Blue*/
    --color-5 : #E4D9FF; /*Lavender Blue*/
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--color-5);
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}

h2 > button {
    font-size: 24px;
}

.question {
    margin: 10px;
    font-size: 30px;
    text-decoration: bold;
    text-align: center;
    display: none;
}

.answers {
    text-align:center;
    display: none;
}

.answers > ul > li {
    margin: 20px;
}



table, th, td {
    border: 1px solid black;
    padding: 10px;
}
table {
    font-size: 30px;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
}

.score-header {
    text-align: center;
    font-size: 40px;
    padding: 10px;

}